.home-container{
  height: 93vh;
}

.txt{
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(90deg,#533618,#c23737,#33dd24);
  background-clip: text;
}

/* ImageScroll.css */
.image-scroll {
  position: relative;
  width: 100%;
  height: 87vh;
  overflow: hidden;
}

.images-container {
  display: flex;
  transition: transform 1s ease;
}

.image {
  flex: 0 0 100%;
}

.image img {
  width: 100%;
  height: auto;
  filter: blur(7px);
}

.next-button {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #0056b3;
}

.main{
    height: 30vh;
    position : absolute;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;    
    text-align: center;
    width: 380px;
  }
  
  
  @media (max-width: 700px){
    .main{
      width: 100%;
      bottom: 0;
    }
  }
  
  @media (min-width: 701px){
    .main{
      bottom: 25%;
      left: 32%;
    }
  }
 
 #home-heading{
  width: 490px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(90deg,#533618,#c23737,#33dd24);
  background-clip: text;
   /* color: #606c38; */
 }

.home-text{
    /* position: absolute; */
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    width: 760px;
    text-align: justify;
    padding: 1.7rem 8rem 1rem 8rem;
    line-height: 2.1rem;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(140, 182, 111, 0.2);
    /* background-color: #e2bcbc; */
    /* border: 3px solid red; */
 }

 @media (max-width: 500px) {
  .home-text{
    /* text-align: left; */
    padding: 1.7rem .7rem 1rem .7rem;
    font-size: .9rem;
    width: 303px;
    line-height: 1.7;
  }
 }

.site-navigation{
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
 }

 @media(max-width: 368px){
  .site-navigation{
    flex-direction: column;
    gap: .4rem;
  }
 }

.site-navigation li{
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  margin-top: 1rem;
  /* background-color: #FDFFFC; */
  background-color: #c4e4b3;
}

.site-navigation li a{
  font-family: "Bungee Spice", sans-serif;
   text-decoration: none;
   color: #F06543;
   font-size: 1.3rem;
 }

 .site-navigation li a:hover{
    color: #332eb4;
 }
