.bike-admin-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
}

.bike-admin{
    border-radius: 8px;
    padding: 2rem;
    background-color: #444;
    opacity: .66;
    width: 400px;
    height: 230px;
    cursor: pointer;
}

