.bike-admin-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
}

.admin-form{
    border-radius: 8px;
    padding: 2rem;
    background-color: #444;
    height: 360px;
    width: 400px;
}