.container{
    /* width: 1250px; */
    display: flex;
    justify-content: right;
    gap: 2rem;
    background-color: #BFBCCB;
    padding: .6rem;
    background-color: #fff;
  }

  a{
    font-size: 1.7rem;
    text-decoration: none;
  }

  