.main{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;    
 }

 .heading{
   /* font-family: 'Open Sans', sans-serif; */
   color: #606c38;
 }

.home-text{
    font-family: 'Open Sans', sans-serif;
    color: #b42e2e;
    width: 600px;
    padding-top: 1.7rem;
    line-height: 1.8rem;
    font-size: 1.2rem;
 }

.site-navigation{
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
 }

.site-navigation li{
  border: 1px dashed black;
  padding: 12px 12px;
  margin-top: 1rem;
  background-color: #FDFFFC;
}

.site-navigation li a{
   text-decoration: none;
   color: #F06543;
   font-size: 1.7rem;
 }
