img{
    max-width: 100%;
    height: auto;
}

.pg-item-list{
    background-image: url(/public/image/bedroom2.jpg);
    background-size: cover;
    height: 400px;
}

.pg-item-list .pg-home-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 345px;
    color: #de1313;
    font-size: 1.8rem;  
}

@media (max-width: 700px){
    .item-list .pg-home-text{
        height: 320px;
    }
}
