.pg-admin-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
}

.pg-admin{
    border-radius: 8px;
    padding: 4rem;
    background-color: #444;
    opacity: .7;
    cursor: pointer;
}

input{
    /* border-style: none; */
    /* border-radius: 16px; */
    padding: .3rem;
    outline: none;
    width: 100%;
}

.form a{
    border: 3px solid green;
    padding: .3rem 1rem;
    border-radius: 15px;
    text-decoration: none;
    /* text-align: center; */
    color: #fff;
    /* display: flex;
    justify-content: center;
    width: 20rem; */
}

.form-group{
    /* border: 1px solid black; */
    margin-bottom: 1.2rem;
}

.form-group label{
    display: block;
    margin-bottom: 4px;
    color: white;
}

.btn-group{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-group button{
   padding: 4px 14px;
   border-radius: 4px;
   outline: none;
   border: 0;
}